header {
	width: 100%;
	height: 54px;
	border-bottom: 2px solid #e5e5e5;
	font-family: $montserrat;
	@include breakpoint(mobile) {
		height: auto;
	} 	
	.nav-wrapper {
		height: 100%;
		width: 1180px;
		margin: 0 auto;
		line-height: 54px;
		@include breakpoint(mobile) {
			width: 100%;
		} 		
		.page-nav {
			float: left;
			display: flex;
			min-width: 400px;
			justify-content: space-between;
			font-size: 12px;
			font-weight: 600;
			@include breakpoint(mobile) {
				float: none;
				min-width: 0px;
				padding: 0px 20px;
			} 			
			a {
				text-decoration: none;
				text-transform: uppercase;
				color:#000;
			}	
		}
    .social {
			float: right;
			width: 165px;
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			@include breakpoint(mobile) {
				float: none;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			} 		
			a {
				color:#000;
			}
    }	
	}
}
.logo-wrapper {
	font-family: $montserrat;
	clear: left;
	text-align: center;
	height: 127px;
	border-bottom: 2px solid #e5e5e5;
	line-height: 127px;
	@include breakpoint(mobile) {
		height: 65px;
		line-height: 65px;
	} 	
	.logo {
		width: 100%;
		text-align: center;
		font-size: 50px;
		text-decoration: none;
		color: #000;
		font-weight: 800;	
		z-index: 15;	
	}
}


//Hamburger Menu
.hamburger {
	height: 50px;
	width: 50px;
	position: absolute;
	top:25px; 
	right: 25px;
	display: none;
	cursor:pointer;
	z-index: 20;
	@include breakpoint(mobile) {
		display: block;
	}	
	
	span {
		display: block;
		position: absolute;
		height: 9px;
		width: 50%;
		background: #000;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	  }	
}
  
  .hamburger span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
  }
  
  .hamburger span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
  }
  
  .hamburger span:nth-child(1), .hamburger span:nth-child(2) {
	top: 0px;
  }
  
  .hamburger span:nth-child(3), .hamburger span:nth-child(4) {
	top: 18px;
  }
  
  .hamburger span:nth-child(5), .hamburger span:nth-child(6) {
	top: 36px;
  }
  
  .hamburger.open span:nth-child(1),.hamburger.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  .hamburger.open span:nth-child(2),.hamburger.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  .hamburger.open span:nth-child(1) {
	left: 5px;
	top: 7px;
  }
  
  .hamburger.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
  }
  
  .hamburger.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
  }
  
.hamburger.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
  }
  
  .hamburger.open span:nth-child(5) {
	left: 5px;
	top: 29px;
  }
  
  .hamburger.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 29px;
  }